In [1]:
import numpy as np
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [18]:
demographic_raw = pd.read_csv('/home/phongdk/data_ads_targeting/prediction/2019-03-04_pred.csv.gz', compression='gzip', nrows=None)
demographic_raw.head()

,user_id,2019-03-04_gender_0,2019-03-04_gender_1,2019-03-04_age_0,2019-03-04_age_1,2019-03-04_age_2,2019-03-04_age_3,2019-03-04_age_4,2019-03-04_age_5,2019-03-04_age_6
0,-7519889272478691186,1,0,0,0,0,1,0,0,0
1,-5572234375641466279,0,1,0,0,1,0,0,0,0
2,1852223286569890375,1,0,0,0,1,0,0,0,0
3,-3298261628092753019,1,0,0,0,0,1,0,0,0
4,-3724996352085698677,0,1,0,0,1,0,0,0,0

In [19]:
age_25_44_df = demographic_raw[(demographic_raw['2019-03-04_age_3'] == 1) | (demographic_raw['2019-03-04_age_4'] == 1)]
age_25_44_df.shape

(4151654, 10)

In [20]:
print('Percentage : ', len(age_25_44_df) * 100.0/ len(demographic_raw))

Percentage :  55.322635666352184

In [21]:
new_target_30_40 = pd.read_csv('/home/phongdk/tmp/2019-03-04_prob.csv.gz', compression='gzip', nrows=None)
new_target_30_40.head()

               user_id   age_0    age_1
0 -7519889272478691186  0.7554  0.24460
1 -5572234375641466279  0.7817  0.21840
2  1852223286569890375  0.8794  0.12060
3 -3298261628092753019  0.2223  0.77800
4 -3724996352085698677  0.9067  0.09314

In [44]:
THRESHOLD = 0.5

In [45]:
age_30_40_df = new_target_30_40[new_target_30_40['age_1'] > THRESHOLD]
age_30_40_df.shape

(2379853, 3)

In [46]:
print('Percentage : ', len(age_30_40_df) * 100.0/ len(new_target_30_40))

Percentage :  31.712599474444463

### Check overlap between old prediction and new prediction

In [47]:
num_intersection = len(set(age_25_44_df['user_id'].values).intersection(set(age_30_40_df['user_id'].values)))

In [48]:
print(num_intersection)

2083091

In [49]:
print(num_intersection * 100 / len(age_30_40_df))

87.5302382121921